body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 20%;
}
form .form-group{
    margin: auto 20px;
    display: flex;

}
form .form-group input{
    width: 150px;
    background-color: yellow;
    margin: auto;
}
form .form-group label{
    text-align: center;
    margin: 10px 20px;
    text-transform: uppercase;

}
 form button{
    text-transform: uppercase;
}
table {
    background-color: aqua;
    margin-top: 5%;
}

form label{
    font-weight: 500;
} 
form button[type ='submit']{
    font-weight: 600;
    background-color: blue;
}
form #mille{
    display: block;
}
table,td{
    border: 1px solid blue;
    border-collapse: collapse;
}
td{
    width: 50px;
    font-size: 14px;
}
td:hover{
    background-color:yellow;
}

